spring:
  application:
    name: person
  datasource:
    url: jdbc:mysql://mysql-barberia.alwaysdata.net:3306/barberia_veterinaria?useSSL=false&serverTimezone=UTC
    username: barberia
    password: Ccva1007*
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQLDialect

server:
  port: 0

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    instance-id: ${spring.application.name}:${random.uuid}

user:
  service-url: lb://USER